section.content
{
	div:first-of-type
	{
		width: 650px;
		h2
		{
			font-family: SourceSansPro Bold;
			font-size: 4em;
			margin: 15% 0% 3% 10%;
		}
		form
		{
			margin: 0% 0% 0% 10%;
			width: 320px;
			padding: 1em;
			border: 1px solid #CCC;
  			border-radius: 1em;
  			background-color: rgba($beige, 0.3);
  			box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
		}
		label 
		{
			/* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
			display: inline-block;
			width: 80px;
			text-align: right;
			color: $light_blue;
			font-family: SourceSansPro Semibold;
			margin-right: 3%;
			font-size: 1.2em;
			text-shadow: 1px 1px 0px #6B14EF;
		}
		input
		{
			width: 181px;
			box-sizing: border-box;
			/* Pour harmoniser le look & feel des bordures des champs texte */
			border: 1px solid #999;
			margin-bottom: 10px;

			&:focus
			{
				/* Pour souligner légèrement les éléments actifs */
				border-color: #000;
			}
		}
		a
		{
			margin-left: 15%;
		}
		button
		{
			margin: 15px 72px 0;
			//background-image: linear-gradient(left, $blue_purple, $purple);
			background: linear-gradient(to right, #6B14EF, #834788);
			border-radius: 55px;
			width: 175px;
			height: 35px;
			color: $beige;
			font-family: SourceSansPro Semibold;
			border: none;
			box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
			cursor: pointer;
			font-size: 1.1em;
		}
	}

	div:nth-of-type(2)
	{
		margin-left: -7%;
		h3
		{
			font-family: SourceSansPro Black;
			font-size: 2.5em;
			text-align: center;
			margin: 5% auto 5%;
		}
		table
		{
			width: 100%;
			border: 1px solid #CCC;
  			border-radius: 1em;
			/*height: 80%;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: 250px 191px 191px;*/
			th
			{
				font-size: 1.5em;
				color: $blue_purple;
				font-family: SourceSansPro Semibold;
				width: 110px;
				padding: 0 1% 0 1%;
				&:first-of-type
				{
					width: 6%;
				}
			}

			
			td
			{
				font-size: 1.5em;
				color: $purple;
				font-family: SourceSansPro Light;
				text-shadow: 1px 1px 5px black;
				text-align: center;
				&:nth-of-type(7n+7)
				{
					width: 210px;
					display: flex;
					justify-content: space-between;
					margin: 1%;
					border: none;
				}

				a
				{
					text-decoration: none;
					background: linear-gradient(to right, #6B14EF, #834788);
					border-radius: 55px;
					color: $beige;
					text-shadow: none;
					font-family: SourceSansPro Semibold;
					width: 100px;
				}
			}
		}
		table, th, td
		{
			//border: 1px;
		} 
		
	}
}