body 
{
	background: $light_grey;
	color: $light_black;
	font-family: SourceSansPro Regular;
	position: relative;
	overflow-x: hidden;
	header
	{
		display: flex;
		a
		{
			margin: 15px 0 0 15px;
			width: 7%;
			height: 65px;
			img:first-of-type
			{
				width: 100%;
				//height: 7%;
			}
		}
		
	}
	header nav
	{
		display:flex;
		margin: 40px 50% 0 auto;
		height: 10%;
		justify-content: center;
    	width: 200px;
	}
	nav a
	{
		margin: 0 110% 0 110%;
		color: $light_black;
		font-family: SourceSansPro Semibold;
		text-decoration: none;
		font-size: 1.5em;
		cursor: pointer;

		&:hover
		{
			color: $beige;
			text-shadow: 1px 1px 10px black;
		}

	}
	nav a.link_first_section
	{
		text-shadow: 1px 1px 0px $light_blue;
	}
	
	div:first-of-type 
	{
		.blue_circle
		{
			background: $light_blue;
			border-radius: 50%;
			width: 800px;
			height: 800px;
			overflow-x: hidden;
			position: absolute;
			top: -5%;
			left: -25%;
			z-index: -1;
		}

		.content
		{
			border-radius: 45px;
			background-color: $gray_blue;
			width: 1400px;
			height: 615px;
			opacity: 0.99;
			margin: 0% auto;
			display: flex;
			box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
			padding: 0 3% 0 0;
			div:first-of-type h2
			{
				font-family: SourceSansPro Bold;
				font-size: 4em;
				margin: 13% 0% 5% 10%;
			}
			div:first-of-type
			{
				width: 694px;
				.detail
				{
					color: $blue_purple;
					font-family: SourceSansPro Semibold;
					font-size: 2em;
					margin: 1% 10% 0%;

					span
					{
						color: $purple;
						font-family: SourceSansPro Light;
						text-shadow: 1px 1px 5px black;
					}
				}
				.more_button
				{
					//background-image: linear-gradient(left, $blue_purple, $purple);
					background: linear-gradient(to right, #6B14EF, #834788);
					border-radius: 55px;
					width: 200px;
					height: 60px;
					color: $beige;
					font-family: SourceSansPro Semibold;
					border: none;
					font-size: 2em;
					margin: 5% 30%;
					box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
					cursor: pointer;
				}
			}
			div:nth-of-type(2)
			{
				margin: 0;
				img
				{
					height: 500px;
					margin: 4% 0 auto auto;
					box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
				}
				p
				{
					font-family: SourceSansPro Black;
					font-size: 2.1em;
				}
			}
		}
	}
}