section#second_section
{
	z-index : 10; /*permet de positionner le bloc au-dessus de TOUS les éléments*/
	//transform : translateX(+100%); /*permet de cacher le bloc à droite de la fin de page*/
	transform: translateX(+1600px);
	transition : transform 2s ease; /*indque le temps de la fonction*/
	position: absolute;
	//padding: 2% 2% 0% 2%;
	padding: 0% 3% 0% 0%;

	img:first-of-type
	{
		width: 50px;
		height: 50px;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
		border-radius: 50%;
		//margin: 1% 1%;
		//margin: -20px 0% 0% -20px;
		margin: 10px 0% 0% 15px;
		cursor: pointer;
		z-index: 1;
	}
	img:nth-of-type(2)
	{
		width: 100%;
		padding: 4% 4% 4% 0%;
		margin: 0% 0px 0 -2%;
		//box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
	}
	div h3
		{
			font-family: SourceSansPro Black;
			font-size: 2.5em;
			text-align: center;
			margin: 10% auto 5%;
		}
	div p:nth-of-type(2)
		{
			font-family: SourceSansPro Regular;
			font-size: 1em;
			height: 710px;
			width: 686px;
		}
}

section#second_section.active
{
	transform : translateX(92px);
}