/*section:nth-of-type(2)
{
	z-index : 10; //permet de positionner le bloc au-dessus de TOUS les éléments
	transform : translateX(+100%); //permet de cacher le bloc à droite de la fin de page
	transition : transform 2s ease; //indque le temps de la fonction
	position: absolute;

	div p:first-of-type
		{
			font-family: SourceSansPro Black;
			font-size: 2.5em;
		}
	div p:nth-of-type(2)
		{
			font-family: SourceSansPro Regular;
			font-size: 1em;
			height: 710px;
			width: 686px;
		}
}

section:nth-of-type(2).active
{
	transform : translateX(0%);
}*/

section#second_section
{
	z-index : 10; /*permet de positionner le bloc au-dessus de TOUS les éléments*/
	//transform : translateX(+100%); /*permet de cacher le bloc à droite de la fin de page*/
	transform: translateX(+1600px);
	transition : transform 2s ease; /*indque le temps de la fonction*/
	position: absolute;

	div p:first-of-type
		{
			font-family: SourceSansPro Black;
			font-size: 2.5em;
		}
	div p:nth-of-type(2)
		{
			font-family: SourceSansPro Regular;
			font-size: 1em;
			height: 710px;
			width: 686px;
		}
}

section#second_section.active
{
	transform : translateX(92px);
}